body{
    background-color: rgb(180, 221, 238);
    color: rgb(0, 0, 0);
    
}
.rutas-home{
    display: flex;
    flex-direction: column;
    margin: 5px 5px ;
    gap: 4px;
    font-size: larger;
    font-weight: 600;
    
}

/* Ruta Random */
.rutaRandom{
    background-color: rgb(231, 231, 231);
    padding: 50px;
    text-align: center;
    border: white 8px inset;
    border-radius: 15px;
    }

/* CONTAINER Rutas por Zona y Rutas por tiempo */
.zonaTiempo{
    background-color: rgb(231, 231, 231);
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;
    align-items: center;
    border: white 8px inset;
    border-radius: 15px;
}
/* Rutas por Zona  */
.rutaZona{

}

/* Rutas por tiempo */
.rutaTiempo{
  
}

/* Ruta mejor Valoradas */
.ruta-valor{
    background-color: rgb(231, 231, 231);
    padding: 50px;
    text-align: center;
    border: white 8px inset;
    border-radius: 15px;
}